# Copy this file to .env and fill in your values
IS_DEVELOPMENT=true

# Contact team lead for these values
ENCRYPTED_PASS_KEY=your_abha_pass_key
ABHA_CLIENT_SECRET=your_abha_client_secret_here
ABHA_CLIENT_ID=your_abha_client_id_here

# UAT URLs
BASE_TMC_URL=your_tmc_url
BASE_ABHA_URL=your_abha_url
ABHA_TOKEN_URL=your_abha_token_url
ABHA_AUTH_URL=your_abha_auth_url