<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name=".CHOApplication"
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_icon_2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_icon_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.CHO"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.outreach_activity.OutreachActivity"
            android:exported="false" />
        <activity
            android:name=".ui.abha_id_activity.AbhaIdActivity"
            android:exported="false"
            android:label="@string/title_activity_abha_id"
            android:theme="@style/Theme.CHO" />
        <activity
            android:name=".ui.web_view_activity.WebViewActivity"
            android:exported="false"
            android:label="@string/title_activity_web_view"
            android:theme="@style/Theme.CHO" />
        <activity
            android:name=".ui.visit_details_activity.VisitDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_visit_details"
            android:theme="@style/Theme.CHO" />
        <activity
            android:name=".ui.patient_vitals_activity.PatientVitalsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.patient_revisit_activity.PatientRevisitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.edit_patient_details_activity.EditPatientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register_patient_activity.RegisterPatientActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.register_patient_activity.scanAadhaar.ScanAadhaarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register_patient_activity.scanAadhaar.CaptureAct"
            android:exported="false" />
        <activity
            android:name=".ui.master_location_settings.MasterLocationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home_activity.HomeActivity"
            android:exported="false"
            android:label="CPHC" /> <!-- <activity -->
        <activity
            android:name=".ui.login_activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/forscanner" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver
            android:name=".utils.AutoLogoutReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.ACTION_AUTO_LOGOUT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove"></provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>